<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>glass</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <button id="toggle-sidr" class="button">toggle file menu</button>
                <h3 class="text-muted">glass</h3>
            </div>

            <div class="main">
              <!--
                <div class="jumbotron">
                    <h1>'Allo, 'Allo!</h1>
                    <p class="lead">Always a pleasure scaffolding your apps.</p>
                    <p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
                </div>
              -->

              <div id="viewer-view">
                <div id="viewer">
                  // example code
                  function hello() {
                    console.log('hello world!')
                  };
                  hello();
                </div>
              </div>

              <!--
              <div class="row text-left">
                  <div class="col-md-offset-4">
                      <h2>Now Try,</h2>
                      <h4><b>yo backbone:router</b> &lt;router&gt;</h4>
                      <h4><b>yo backbone:collection</b> &lt;collection&gt;</h4>
                      <h4><b>yo backbone:model </b> &lt;model&gt;</h4>
                      <h4><b>yo backbone:view </b> &lt;view&gt;</h4>
                  </div>
              </div>
              -->

              <div class="row marketing">
                  <div class="col-lg-6">
                      <h4>HTML5 Boilerplate</h4>
                      <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

                      <h4>Bootstrap</h4>
                      <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

                      <h4>Modernizr</h4>
                      <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>

                  </div>
                  <div class="col-lg-6">
                      <h4>Backbone.js</h4>
                      <p>Backbone.js gives structure to web applications by providing models, collections, views and connects it all to your existing API over a RESTful JSON interface.</p>

                      <h4>Underscore.js</h4>
                      <p>Underscore.js is a utility-belt library for JavaScript that provides a lot of the functional programming support</p>

                  </div>
              </div>
            </div>

            <div class="footer">
                <p>♥ from the Yeoman team</p>
            </div>

        </div>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        -->

        <script id="homedir" type="application/json">
          <%- JSON.stringify(@homedir.toJson()) %>
        </script>

        <!-- build:js scripts/main.js -->
        <!-- <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script> -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>

        <script src="bower_components/ace/build/src/ace.js"></script>
        <script src="bower_components/sidr/src/jquery.sidr.js"></script>

        <script src="assets/application.js"></script>
        <!-- endbuild -->

</body>
</html>
